// definitions
@width1 : 1160px;
@width2 : 930px;

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {

    background: #f7f7f7 !important;
    font-size: 16px !important;
  }

body {
    font-family: "Arial",-apple-system,BlinkMacSystemFont,"Arial","Arial",sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0,0,0,0.87);
    background: #f7f7f7;
}

a {
    color: #007ab2;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.pkp_page_index .pkp_structure_page {
    margin-top: 0px;
    box-shadow: none !important;
    background: #f7f7f7 !important;
}

.pkp_structure_page {
    // padding-top: 30px;
    box-shadow: none !important;
}

.pkp_structure_content{
    margin-top: 25px;
}

.pkp_structure_main{
    padding-top:0;
}

.pkp_structure_content {
    margin-top: 60px;
}

.has_sidebar{
    margin-top: 80px;
    flex-direction: column;
}

@media (min-width: 750px){
    .has_sidebar{
    flex-direction: row;
}}

header#headerNavigationContainer.pkp_structure_head div.pkp_head_wrapper{
    padding-top: 0;
    background-color: #00a6d6;
    display: flex;
    height: 60px;
    /* line-height: 60px; */
    align-items: center; 
    justify-content: center;
    border: 0;
    width: 100%;
}

div.pkp_all_wrapped{
    padding-top: 0;
    background-color: #00a6d6;
    display: flex;
    height: 60px;
    /* line-height: 60px; */
    align-items: center; 
    justify-content: center;
    border: 0;
    margin: 0 auto;
    // width: 1160px;
}

header#headerNavigationContainer.pkp_structure_head div.pkp_head_wrapper div.pkp_site_name_wrapper{
    margin-left: 40px;
    background-color: #00a6d6;
    display: flex;
    flex-basis: content;
    justify-content: flex-start;
    flex-shrink: 4;
    // margin-right: 200px;
    /* line-height: 60px; */
}

header#headerNavigationContainer.pkp_structure_head div.pkp_head_wrapper nav.pkp_site_nav_menu{
    // margin: 0 auto;
    background-color: #00a6d6 !important;
    flex-grow: 4;
    /* line-height: 40px; */
    // width: auto;
}


ul#navigationUser.pkp_navigation_user.pkp_nav_list li.profile{
    display: none;
}

.pkp_structure_sidebar{
    color: rgba(0,0,0,0.54);
}

@media (min-width: 992px){
.pkp_structure_sidebar {
  float: right;
  width: 300px;
}}


.homepage_image{
    margin: 0 !important;
    left: -1;
    top: -1;
    overflow: hidden;
}

.cmp_monographs_list > .title{
    background-color: #f7f7f7;
}

div.pkp_navigation_search_wrapper{
    margin-right:40px;
}

// div.pkp_structure_main div.page.page_homepage img
// {
//     width: 100vh;
// }

div.pkp_navigation_primary_row div.pkp_navigation_primary_wrapper{
    display: flex;
    align-items: flex-end; 
    justify-content: flex-end;
    flex-grow: 3;
    // margin-right: 100px;
}

@media only screen and (max-width: 1000px) {
    div.pkp_navigation_primary_row div.pkp_navigation_primary_wrapper{
        display: flex;
        align-items: flex-start; 
        justify-content: flex-start;
        margin-left: 40px;
    }

    header#headerNavigationContainer.pkp_structure_head div.pkp_head_wrapper div.pkp_site_name_wrapper{
        margin-left: 20px;
        background-color: #00a6d6;
        /* line-height: 60px; */
    }
}



ul#navigationPrimary.pkp_navigation_primary.pkp_nav_list{
    margin-right: 32px;
}

.pkp_nav_list ul{
    border-radius: 0;
    box-shadow: none;

}

ul#navigationPrimary.pkp_navigation_primary.pkp_nav_list li ul.dropdown-menu li a
{
    border: none;
    color: #00a6d6;
    margin-left: 0;
    padding-left: 8px;
}

ul#navigationPrimary.pkp_navigation_primary.pkp_nav_list li ul.dropdown-menu:after{
    content: " ";
    position: absolute;
    left: 10px;
    top: -8px;
    border-top: none;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid white;
}
/* div.pkp_structure_content.has_sidebar div.pkp_structure_main div.page.page_homepage img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 400px;
} */

.obj_monograph_full .main_entry {
    background-color: #ececec;
}

.obj_monograph_full .entry_details {
    background-color: #ddd;
}

@media (min-width: 768px){
    .obj_monograph_summary .cover img {
        margin: auto;
        width: 120%;
    }
}

div.obj_spotlight.has_image.is_book a.cover_image img{
    margin: auto;
    width: 120%;
}

@media (min-width: 1200px){
.pkp_site_name_wrapper, .pkp_navigation_primary_wrapper {
  width: 1100px;
}}

@media (min-width: 992px){
    .pkp_all_wrapped{
        width: @width2;
    }
    }
@media (min-width: 1200px){
.pkp_all_wrapped{
    width: @width1;
}
}

@media (min-width: 992px){
    .pkp_site_name_wrapper, .pkp_navigation_primary_wrapper {
      width: 900px;
}}

@media (max-width: 780px){
    .pkp_all_wrapped {
      width: 100%;
}}


// html body.pkp_page_index.pkp_op_index div.pkp_structure_page div.pkp_structure_content.has_sidebar div.pkp_structure_main{
//     background-color: #f6f6f6;
// }

.pkp_block .title {
    display: inline-block;
    padding-bottom: 0.5em;
    border-bottom: 3px solid #c3312f;
    font-weight: 700;
    text-transform: uppercase;
}


.cmp_announcements .obj_announcement_summary h2, .cmp_announcements .obj_announcement_summary h3, .cmp_announcements .obj_announcement_summary h4, .cmp_announcements .date, .cmp_announcements .read_more {
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

.obj_announcement_summary .date {
    font-size: 16px;
    line-height: 25px;
    color: rgba(0,0,0,0.54);
}

.sections .section h3 {
    text-transform: capitalize !important;
    font-weight: 600;
}

.cmp_article_list .title{
    text-transform: none;
}

.obj_issue_toc .galleys, .obj_issue_toc .section {
  margin: 0 !important;
}

.obj_issue_toc .galleys, .obj_issue_toc .section {
    padding-left: 0 !important;
}

@media (min-width: 768px){
.obj_issue_toc .galleys > h2, .obj_issue_toc .section > h2, .obj_issue_toc .galleys > h3, .obj_issue_toc .section > h3 {
  display: inline-block;
  position: relative;
  left: -17px;
  margin-top: -6px;
  padding: 0 15px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(0,0,0,0.54);
}}

@media (min-width: 768px){
.pkp_structure_main::before, .pkp_structure_main::after {
  width: 0;
}}

// .pkp_structure_main h1, .pkp_structure_main h2, .pkp_structure_main h3, .pkp_structure_main h4 {
//     margin: 40px 0 20px;
//       margin-top: 40px;
// }

.obj_galley_link:hover {
    border: 1px solid #c3312f;
}


@media (min-width: 768px){
.obj_article_summary .pages {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 30px;
}}

.pkp_page_index .current_issue .read_more:hover, .pkp_page_index .current_issue .read_more:focus {
    color: #00a6d6;
}

.pkp_page_index .current_issue .read_more {
    display: inline-block;
    position: relative;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #007ab2;
    text-decoration: none;
    margin-bottom: 20px;
}

.current_issue .read_more {
    margin-top: 25px;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

section.cmp_announcements.highlight_first div.more{
    display:none;
}

.obj_announcement_summary {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }

.obj_announcement_summary {
    position: relative !important;
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

article.obj_announcement_summary {
    background: #eee;
    padding-left: 10px !important;
    padding-top: 40px !important;
    margin-top: 20px;
}

@media (min-width: 768px){
.obj_announcement_summary::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    border-left: 1px solid #ddd;
  }}

.obj_issue_toc .pages, span.value .pages {

    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;

}

.cmp_manuscript_button:hover, .cmp_manuscript_button:focus, .block_make_submission a:hover, .block_make_submission a:focus, .obj_galley_link:hover, .obj_galley_link:focus {
    background: #c3312f;
}

.pkp_structure_main h3 {
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;

}

.pkp_structure_main h2 {
    font-size: 18px !important;
}
.current_issue .container-current_issue {
    display: flex;
    flex-flow: row;
    align-items: stretch;
  }

.pkp_structure_main .page h1 {
    margin-top: 0;
    padding-bottom: 0px;
}

.pkp_structure_main h1{
    font-size: 24px !important;
}

.pkp_structure_main .page h2 {
    margin-top: 0;
    padding-bottom: 0px;
}

.obj_announcement_summary .summary {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

.current_issue h2 {
    display: inline-block;
    padding-bottom: 0;
    border-bottom: 3px solid #c3312f;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0,0,0,0.54);
    letter-spacing: 2px;
}

.current_issue h3 {
    display: inline-block;
    padding-bottom: 0;
    border-bottom: 3px solid #c3312f;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0,0,0,0.54);
    letter-spacing: 2px;
}

@media (min-width: 992px){

.pkp_structure_content {

    padding-top: 0;

}}

.pkp_page_index .additional_content {
    padding-top: 0;
    border-top :0 !important;
}

// div.pkp_structure_content.has_sidebar div.pkp_structure_sidebar.left{
//     background-color: #e6e6e6;
// }

.cmp_announcements{
    display: flex;
    flex-direction: column;
}

.obj_announcement_summary{
    flex-grow:3;
    width: 100%;
}

.pkp_block{
    border-bottom: 1px solid #ececec;
}

article.obj_announcement_summary div.date::before{
    color: rgb(255, 149, 0);
}

.pkp_structure_footer_wrapper {
    background-image: url(https://www.tudelft.nl/typo3conf/ext/tud_styling/Resources/Public/img/torch.svg);
    background-repeat: no-repeat;
    background-position: 15% 75%;
    background-size: 150%;
    background-blend-mode: overlay;
    background-color: #00a6d6;
}

.book_flex{
    display: flex;
}

.obj_monograph_full .entry_details .files{
    text-align:center;
}

.obj_monograph_full .entry_details .item:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom:2px solid #ececec /* This creates the border. Replace black with whatever color you want. */
}

div.page.page_book div.obj_monograph_full div.row.book_flex div.entry_details div.item.cover img{
    width: 240px;
    height: 336px;
}

.pkp_page_index .additional_content > * {
    font-size: 1rem;
    color: black;
    font-weight: 400;
    line-height: 1.3;
    font-family: 'Roboto',sans-serif;
}

.pkp_page_index .additional_content {
    padding-left: 0 !important;
}

.pkp_structure_main:first-child:last-child {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.obj_monograph_full .title {
    margin: 0;
      margin-top: 0px;
      margin-bottom: 0px;
    font-family: "Noto Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}

.main_entry{
    font-family: Arial,sans-serif;
    font-weight: 100;
    font-size: 16px;
    font-feature-settings: "liga";
}

.pkp_structure_main{
    width: 100%;
    border-left: none;
    border-right: none;
}

.pkp_structure_main:first-child:last-child::before, .pkp_structure_main:first-child:last-child::after {
    content: none;
  }

.obj_monograph_full .main_entry {
    flex-grow:3;

}

.obj_monograph_full .entry_details{
    flex-grow: 1;
}

.obj_article_details .main_entry {
    width: 100%;
}

@media (min-width: 992px){
.obj_article_details .row {
    display: flex;
    flex-direction: row;
}}

.has_site_logo .pkp_head_wrapper {
    width: 100% !important;
}

div.pkp_structure_footer div.pkp_footer_content{
    color:white;
    // text-transform: uppercase;
}

.obj_monograph_full .files > div:last-child, .obj_monograph_full .files .value li:last-child {
    margin-bottom: 0;
    text-align: center;
}

.cmp_button, .cmp_download_link, .cmp_form .buttons button, .page_lost_password .buttons button, .page_search .cmp_search button, .obj_monograph_full .files .link a, .obj_monograph_full .files .pub_format_remote a, .obj_monograph_full .files .pub_format_single a, .block_make_submission a {
    display: inline-block;
    padding: 0 1em;
    background: #007ab2;
    border: 1px solid rgba(0,0,0,0.4);
    border-top-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1em 1em rgba(0,0,0,0.1);
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    font-weight: normal;
    min-width: 240px;
    text-align: center;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    text-transform: uppercase;
    border: none;   
}

@media (min-width: 992px){
.obj_monograph_full .entry_details .item {
    padding-left: 2.143rem;
    padding-right: 2.143rem;
    padding-top: 1.143rem;
    padding-bottom: 1.143rem;
}}

div.pkp_site_name_wrapper div.pkp_site_name{
    text-align: center;
}

    

// div.pkp_head_wrapper nav.pkp_site_nav_menu{
//     padding-right: 120px;
// }

.obj_monograph_full .chapters .title {
    margin-bottom: 0;
    font-family: Arial,sans-serif;
    font-weight: 100;
    line-height: 1.785rem;
    font-size: 16px;
}

b, strong {
    font-weight: bold;
 }

div.pkp_structure_page div.pkp_structure_content div.pkp_structure_main div.page_index_journal div.homepage_image{
    display: none;
 }

 .obj_issue_toc .galleys > h2, .obj_issue_toc .section > h2, .obj_issue_toc .galleys > h3, .obj_issue_toc .section > h3 {
    background: #f7f7f7;
 }

 .has_sidebar{
    display:flex;
 }

 .pkp_structure_main::after {
    display: none;
 }

.homepage_image {
    position: relative;
    top: 60px;
    height: 220px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -60px !important;
}

@media (min-width: 992px){
.homepage_image {
  height: 370px;
}}

.pkp_page_index .homepage_image, .pkp_page_index .additional_content {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cmp_announcements{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

 .homepage_image > .homepage_image_text_container {
    position: absolute;
    height: inherit;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.homepage_image > .homepage_image_text_container {
    position: absolute;
    height: inherit;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.homepage_image_text {
    position: relative;
    width: 100%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }

.homepage_image_text > #image_text {
    max-width: 500px;
    font-family: "Roboto Slab Arial",sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    color: white;
    line-height: 1.3;
    padding-left: 20px;
  }

div.homepage_image img{
    height: inherit !important;
    object-fit: cover !important;
    object-position: 60% 80% !important;
    width: 100% !important;
    height: 100% !important;
}

h4#image_text {
    font-family: 'Calibri';
    max-width: 600px;
    font-size: 2.1rem;
    font-weight: 200;
}

@media (min-width: 480px){
    h4#image_text {
        font-family: 'Calibri' ;
        max-width: 600px ;
        font-size: 2.4rem ;
        font-weight: 200 ;
    }
}

@media (min-width: 995px){
    h4#image_text {
        font-family: 'Calibri' ;
        max-width: 600px ;
        font-size: 3.11rem ;
        font-weight: 200 ;
    }
}




.pkp_page_index {
    background: #f7f7f7 !important;
}

.pkp_structure_main p {
    line-height: 25px;
    margin: 20px 0;
      margin-top: 20px;
      margin-bottom: 20px;
  }

@media (min-width: 1200px){
    .pkp_structure_page {
        margin-top: 0;
        margin-bottom: 0;
}}


@media (min-width: 992px){
.pkp_structure_sidebar {
  float: right;
  width: 300px;
}}

@media (min-width: 992px){
.pkp_structure_sidebar::before {
//   content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  border-left: 1px solid #ddd;
}}


.pkp_page_index .additional_content > * {
    font-size: 1.375rem;
    color: black;
    font-weight: 400;
    line-height: 1.3;
    font-family: 'Roboto',sans-serif;
}


.current_issue .current_issue_title, .current_issue .published {
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    color: rgba(0,0,0,0.54);
}

.obj_issue_toc, span.value {
    color: rgba(0,0,0,0.74) !important;
}

.authors {
    color: #757575;
    font-size: 14px;
}

.authors .affiliation{
    font-size: 16px;
    color: rgba(0,0,0,0.54);
}

.block_custom > .content > .block_make_submission {
    padding: 0px;
    min-width: 200px;
}



.pkp_page_index .additional_content {
    padding-top: 30px !important;
    padding-bottom: 10px !important;
}

.pkp_page_index .cmp_announcements {
    border-top: none !important;
    border-bottom: 1px solid #ddd;
}

.pkp_structure_main {
    width: 100%;
    border-left: none !important;
    border-right: 1px solid #ddd;
  }

.pkp_block a {
    text-decoration: none;
}

.pkp_page_about .pkp_structure_main {
    border-right : none;
}

// LANDINGSPAGINA JOURNAL

.obj_article_details .entry_details .item {
    margin: 0px 0px;
    padding: 0;
    border-bottom: none;
    border-radius: 3px;
    background: none;
    border: 1px solid #ddd;
    padding-bottom: 1rem;
}

.obj_article_details .entry_details .item {
    padding: 0;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
}

.obj_article_details .entry_details .item > .label, .obj_article_details .entry_details .sub_item:first-child > .label {
    padding: .5em .5em;
    background: #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.obj_article_details .entry_details .sub_item .label {
    color: rgba(0,0,0,0.54);
    padding-left: 15px;
}

.authors .label::before {
    color: #7c7c7c;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: 1rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0, 0);
    margin-right: 0.5em;
    content: "\f007";
}

.obj_article_details .entry_details .item .label {
    margin: 0 0 20px;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.54);
}

.obj_article_details .entry_details .label {
    font-weight: 700;
    text-transform: uppercase;
}

.obj_article_details .main_entry .item .label {
    margin: 0 0 20px;
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.obj_article_details .main_entry .abstract .label{
    display: inline-block;
    padding: 0;
    border-bottom: 3px solid #c3312f;
    color: rgba(0,0,0,0.54);
    text-transform: uppercase;
}

div.entry_details section.sub_item div.value, div.entry_details p, div.entry_details img{
    padding: 15px;
}

.obj_article_details .galleys_links li {
    width: 100%;
} 
div.page.page_article article.obj_article_details div.row div.main_entry section.item.doi, section.item.doi span.value a{
    color: rgba(0,0,0,0.54);
    font-size: .93rem;
    text-decoration: none;
}

div.page.page_article article.obj_article_details div.row div.main_entry section.item.keywords, section.item.keywords span.value a{
    color: rgba(0,0,0,0.54);
    font-size: .93rem;
    text-decoration: none;
}

.obj_article_details .row {
    border: none;
    background: #f1f1f1 !important;
  }


.obj_article_details .authors{
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen-Sans", "Ubuntu","Cantarell", "Helvetica Neue", sans-serif !important;
    font-size:16px !important;

}
div.entry_details .cmp_button_wire,  div.entry_details .obj_galley_link{
    background: #007ab2;
    color: white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.obj_article_summary .cmp_button_wire,  div.obj_article_summary .obj_galley_link, div.obj_article_summary  .obj_galley_link_supplementary {
    background: white;
    color: #007ab2;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 1em;
    text-transform: uppercase;
}

div.pkp_structure_footer_wrapper div.pkp_structure_footer div.pkp_footer_content table.tg tr td.tg-0lax{
    border-right: 55px solid transparent;
}

.main_entry{}

@media (min-width: 1200px){
.obj_article_details .entry_details {
  width: 245px;
}}

@media (min-width: 768px){
.obj_article_details .entry_details {
  width: 198px;
  margin-left: 30px;
}}

.obj_article_details .entry_details {
    margin-left: 0;
    margin-right: 0;
}

.obj_article_details .entry_details {
    margin-left: 0;
    margin-right: 0;
}
.obj_article_details .main_entry, .obj_article_details .entry_details {
    border: none;
}


.block_custom > .content > .block_make_submission {
    padding: 0px;
    min-width: 200px;
}

@media (min-width: 768px){
.obj_article_details .entry_details {
    float: left;
    width: 300px;
    margin: 0 0 0 -1px;
        margin-right: 0px;
        margin-left: -1px;
    border-top: none;
    // border-left: 1px solid #ddd;
}}

.obj_issue_toc > .galleys h3, span.value > .galleys h3, .obj_issue_toc .section h3, span.value .section h3 {
    background: #f7f7f7;
}

.cmp_announcements > li {
    padding: 0 !important;
}

.addthis_toolbox{
    padding:15px 15px 8px
}

.user-icon::before {
    color: #7c7c7c;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: 1rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0, 0);
    margin-right: 0.3em;
    content: "\f007";
  }


  div.entry_details .cmp_button_wire, div.entry_details .obj_galley_link_supplementary {
    background: #f1f1f1;
    color: #006798;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.6rem 14px 0.6rem 14px;
  }

.cmp_button_wire, .obj_galley_link_supplementary {
    display: inline-block;
    padding: 0 1em;
    background: #fff;
    border: 1px solid #acacac;
    border-radius: 3px;
    font-size: .93rem;
    line-height: calc(2.143rem - 2px);
    color: #006798;
    text-decoration: none;
}

  .obj_galley_link_supplementary.pdf::before {
    content: "\f0f6";
  }
  .obj_galley_link_supplementary::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f0f6";
    margin-right: 0.25em;
}

.obj_galley_link_supplementary::after {
    content: '';
    display: none;
}



.main_entry .item {
  padding: 0.8rem !important;
    padding-bottom: 0rem !important;
}


div.entry_details div div div.shariff.item{
    padding: 20px;
}

div.pkp_structure_main div.page.page_article div#articlesBySameAuthorList ul li {
    margin-left: -25px;
}

.pdf:hover{
    background-color:rgb(181, 0, 0) !important;
    color: white !important;
} 