/* The side navigation menu */
.Menu_left_container{
  position: relative;
  width: min-content;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: left;
  margin-bottom: 50px;

  @media(max-width: 992px){
    display: none;
  }
  
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: auto; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1000000000000000000000000000000;
    top: 0; /* Stay at the top */
    left: 20;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    padding-left: 20px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #007ab2;
    display: block;
    transition: 0.3s;
    z-index: 1000000000000000000000000000000;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #00A6D6;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 20;
    right: 30px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1000000000000000000000000000000;
  }

// Header Hamburger Menu
.hamburger_container{
    position: absolute;
    top:70px;
    width: 100%;
    height: 0;
}

.hamburger{
background:#00A6D6;
position:relative;
border-radius: 3px;
padding-bottom: 3px;
line-height:45px;
margin-top: 10px;
padding:5px 15px 0px 15px;
color:white;
// box-shadow: 3px 2px 5px @bg-shade;
border:0;
font-size:2.0em;
font-weight:bold;
cursor:pointer;
outline:none;
z-index:2;
}

.sticky {
position: fixed !important;
top: 0 !important;
}


.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
color:white; 
font-size:1.5em; 
margin-top:5px; 
margin:0 auto;
}



.menu ul {
margin: 0;
padding: 0;
list-style-type: none;
list-style-image: none;
}

.menu li {
display: block;
padding: 15px 0 15px 0;
border-bottom: #dddddd 1px solid;
}

.menu li:hover {
display: block;
background: #ffffff;
padding: 15px 0 15px 0;
border-bottom: #dddddd 1px solid;
}

.menu ul li a {
text-decoration: none;
margin: 0px;
color: #666;
}

.menu ul li a:hover {
color: #666;
text-decoration: none;
}

.menu a {
text-decoration: none;
color: #666;
}

.menu a:hover {
text-decoration: none;
color: #666;
}

.glyphicon-home {
color: white;
font-size: 1.5em;
margin-top: 5px;
margin: 0 auto;
}

#sidenav_menu{
  width: 220px;
  justify-content: left;

  .pkp_navigation_primary{
    font-family: Arial, sans-serif !important;
    z-index: 100000000000000000;
    font-weight: 400;
    text-decoration: none;
    margin-left: 0;
    line-height: 1.5;
    padding: 0;
    padding-top: 50px;
    list-style-type: none;
    display: none;
    flex-flow: column;
    >li >a{
        color: #00A6D6;
        width: 200px;
        margin-left: 0;
        font-size: 16px;
        padding-left: 4px;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, #f7f7f7 50%, white 50%);
        -webkit-transition: background-position 0.4s;
        -moz-transition: background-position 0.4s;
        transition: background-position 0.4s;
        transition-timing-function: cubic-bezier(.56,0,0,1);
        &:hover{
            color: #007ab2;
            border-left: 4px solid #00A6D6;
            background-position: -100% 0;
            
        }
        &:after{
          display: none;
        }
    }

    .dropdown-menu{
      transition: none;
      display: contents !important;
      transform: none !important;
      position: relative;
      >li >a{
        width: 200px;
        font-size: 16px;
        color: #00A6D6;
        background-size: 200% 100%;
        border-left: 4px solid #f7f7f7;
        background-image: linear-gradient(to right, #f7f7f7 50%, white 50%);
        -webkit-transition: background-position 0.4s;
        -moz-transition: background-position 0.4s;
        transition: background-position 0.4s;
        transition-timing-function: cubic-bezier(.56,0,0,1);

        &:hover{
          color: #007ab2;
          border-left: 4px solid #00A6D6;
          background-position: -100% 0;
          
      }
      &:after{
        display: none;
      }
      
      }
    }
  }
}

@media(min-width: 992px){
  .pkp_navigation_primary_wrapper{
    .pkp_navigation_primary{  
      display: none;
    }
  }

  // .pkp_structure_main{
  //   width: initial;
  // }

  #sidenav_menu{
    .pkp_navigation_primary{
      display: flex;
    }
  }
}